h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}

.authWrapper {
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.authInner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    /* transition: all .3s; */
}

.authWrapper .formControl:focus {
    border-color: #167bff;
    box-shadow: none;
}

.authWrapper h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}

.invalidInput {
    color: red;
    margin-top: -20px;
    display: block;
    margin-left: 20px;
}